html,
body {
  scroll-behavior: smooth;
  height: 100%;
}
@font-face {
  font-family: "Code-pro-light";
  src: local("Code-pro-light"),
    url("../fonts/Code Pro Light.otf") format("truetype");
}
@font-face {
  font-family: "Poppins-ExtraLight";
  src: local("Poppins-ExtraLight"),
    url("./Poppins/Poppins-ExtraLight.ttf") format("truetype");
}

a,
h4 {
  text-decoration: none;
  color: #707070;
  font-weight: lighter;
  font-size: 20px;
}

header,
section {
  /* margin-right: auto;
  margin-left: auto;*/
}
#in-img {
  margin-top: 60px;
}
#in-img h2 {
  padding: 80px 117px;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  font-family: Code-pro-light;
  font-size: 75px;
  float: left;
}
.parallax {
  /* The image used */

  background-image: url(./imagenes/Esquina-P.jpeg);
  /* Set a specific height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#inicio {
  height: 850px;
}
.modal-content {
  margin: 0;
  padding: 50px;
  box-sizing: border-box;
}
.modal-body input {
  margin-bottom: 40px;
  font-size: medium;
}
.modal-btn {
  float: right;
  background-color: #000;
}

#btn-wsp {
  height: 35px;
  width: 270px;
  box-sizing: border-box;
  position: static;
  opacity: 100%;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  border: #000;
  border-style: solid;
  font-family: Poppins-ExtraLight;
  padding-top: 10px;
}
#btn-wsp a {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 0;
  position: relative;
  top: -8px;
  color: #000;
}

#btn-wsp a:hover {
  text-decoration: none;
  color: #000;
  opacity: 100%;
  padding-bottom: 10px;
}
#btn-cont {
  width: 270px;
  height: 35px;
  margin-right: 20px;
  opacity: 100%;
  background-color: #000000;
  padding: 3px 3px 3px 3px;
  font-family: Poppins-ExtraLight;
}
.mod {
  width: 380px;
  height: 500px;
}
.cerrar {
  position: absolute;
  top: -55px;
  right: -55px;
}
.cerrar-x {
  font-size: 38px;
  font-weight: bolder;
  color: #fff;
}
.btn-vermas {
  background-color: #000000;
  text-decoration: none;
  margin-left: 132px;
  margin-top: 35px;
  width: 160px;
  height: 35px;
  opacity: 100%;
  z-index: 100;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  font-family: Poppins-ExtraLight;
  padding-top: 10px;
  box-sizing: border-box;
}
.btn-vermas a {
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: relative;
  top: -8px;
  color: #fff;
}
.btn-vermas a:hover {
  text-decoration: none;
  opacity: 100%;
  z-index: 100;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}
.botonera {
  float: left;
  margin-top: 310px;
  margin-left: 310px;
  font-family: Poppins-ExtraLight;
}
#navbar {
  left: 100px;
  display: inline-block;
  width: 100%;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0%;
}
#nav {
  float: left;
  margin-left: 170px;
}

#navbar ul li {
  float: left;
  display: inline;
  margin-top: 20px;
}
#navbar li a {
  padding: 25px;
  font-size: 1em;
  text-align: center;
  font-family: Code-pro-light;
}
#navbar li a:hover {
  text-decoration: underline 0.5px;
  text-decoration-color: #00000029;
  color: #000;
}
.myicono {
  font-size: 1.5em;
  padding: 10px;
  display: none;
}
#content {
  position: relative;
  margin: 0 auto;
  border: solid 1px;
  border-color: #00000029;
}
#content header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: fixed;
  z-index: 100;
  margin-top: 0;
  box-shadow: 0px 2px 0px 0px rgb(248, 246, 246);
}
#marca h4 {
  padding-left: 120px;
  font-family: Code-pro-light;
}

#concept-text {
  width: 100%;
  height: 300px;
  padding-left: 70px;
}
#concept-text h1 {
  text-align: center;
  font-family: Code-pro-light;
  font-weight: lighter;
}
#concept-text p {
  padding-left: 60px;
  font-family: Poppins-ExtraLight;
  margin-top: 40px;
  font-size: larger;
}
#concepto-2 {
  height: 70px;
}
#concepto {
  height: 800px;
}
.linea {
  width: 800px;
  color: #000;
}
#con-img {
  width: 49%;
  float: right;
}
.concpt-img {
  width: 100%;
  opacity: 1;
  height: 350px;
}
#con-img2 {
  width: 49%;
  float: left;
}
.concpt-img2 {
  width: 100%;
  opacity: 1;
  height: 350px;
}
#unidades-3 {
  height: 100px;
}
#unidades {
  height: 760px;
}
#uni-img {
  width: 530px;
  float: left;
}
.uni-img {
  width: 100%;
  height: 420px;
  margin-top: 100px;
  margin-left: 230px;
}
#uni-text {
  width: 600px;
  float: left;
  padding-left: 125px;
  margin-top: 100px;
}
#uni-text p {
  font-size: medium;
  padding: 0;
  margin: 0%;
  font-family: Poppins-ExtraLight;
}
#uni-text h4 {
  font-weight: lighter;
  font-size: xx-large;
  margin-bottom: 40px;
  font-family: Code-pro-light;
}
#eco-4 {
  height: 100px;
}
#eco {
  width: 100%;
  height: 600px;
  background-color: #ebffeb;
}
.banner {
  background-image: url(./imagenes/Solarium\ zoom2.jpeg);
  height: 200px;
}
#eco-fondo {
  width: 100%;
  height: 40px;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.4;
  margin: 0;

  transform: translateY(400%);
}
#eco-fondo p {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-family: Poppins-ExtraLight;
  opacity: 100%;
  margin-left: 100px;
}

#eco-text {
  font-family: Poppins-ExtraLight;
  margin-top: 40px;
  margin-left: 125px;
  float: left;
}
#eco-text p {
  font-size: 20px;
  margin-top: 30px;
}
.eco-img2 {
  float: left;
  margin-top: 60px;
  margin-left: 250px;
  width: 10%;
  height: 10%;
}
#planos-5 {
  height: 50px;
}
#planos {
  height: 900px;
}
#carousel-planos {
  height: 250px;
  width: 100%;
}
.carrusel {
  width: 100%;
}
.carousel-inner {
  box-sizing: border-box;
  padding-left: 150px;
  padding-right: 150px;

  padding-bottom: 150px;
}
#pl-text {
  margin-top: 20px;
}
#pl-text h2 {
  text-align: center;
  margin-top: 25px;
  font-weight: lighter;
  font-family: Code-pro-light;
}
#ubicacion-6 {
  height: 150px;
}
#ubicacion {
  height: 550px;
}
#ubicacion iframe {
  margin-top: 30px;
  width: 100%;
}
#ubi-text h2 {
  text-align: center;
  font-weight: lighter;
  font-family: Code-pro-light;
}
#nosotros-7 {
  height: 50px;
}
#nosotros {
  height: 700px;
  color: #fff;
}
#pie {
  float: left;
  margin-left: 125px;
  margin-top: 50px;
  font-weight: bold;
}
#pie h3 {
  font-family: Code-pro-light;
  font-weight: bold;
  padding-bottom: 10px;
}
#pie p {
  font-family: Poppins-ExtraLight;
}
#pie-p {
  padding-left: 150px;
  font-family: Poppins-ExtraLight;
}
#consultas {
  float: left;
  text-align: center;
  margin-top: 50px;
  font-family: Code-pro-light;
  margin-left: 350px;
}
#consultas h3 {
  font-weight: bold;
  text-align: left;
}
#nos-img {
  color: #ffffff;
  text-transform: uppercase;
  font-family: Code-pro-light;
}

.parallax2 {
  /* The image used */

  background-image: url(./imagenes/Lateral2.jpg);
  /* Set a specific height */

  height: 700px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#nos-fondo {
  width: 100%;
  height: 400px;
  background: #000000 0% 0% no-repeat padding-box;
  opacity: 0.8;
  margin: 0;

  -ms-transform: translateY(40%);
  transform: translateY(40%);
}
#btn-wsp2 {
  height: 35px;
  width: 255px;
  box-sizing: border-box;
  padding-bottom: 10px;
  position: static;
  opacity: 100%;
  text-align: center;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  border-radius: #000;

  border-style: solid;
}
#btn-wsp2 a {
  font-weight: bold;
  font-size: 16px;
}

#btn-wsp2 a:hover {
  text-decoration: none;
  color: #000;
  padding-bottom: 10px;
}

#btn-cont2 {
  border-color: #fff;
  border: solid 3px;
  width: 255px;
  opacity: 100%;
  background-color: #000000;
  padding: 3px 3px 3px 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.botonera2 ul {
  list-style: none;
}

#iconos {
  font-size: xx-large;
  margin-top: 80px;
  margin-left: 25px;
}

#contacto {
  height: 50px;
}
#contacto p {
  text-align: center;
  font-size: smaller;
  font-family: Poppins-ExtraLight;
}
#contacto a {
  font-size: medium;
  font-family: Poppins-ExtraLight;
  color: #19b99a;
  font-weight: bold;
}
#contacto a:hover {
  text-decoration: none;
  font-weight: bolder;
  color: #000;
}

@media all and (min-width: 600px) and (max-width: 1023px) {
  #in-img {
    width: 100%;
    height: 750px;
    margin-top: 100px;
  }

  .parallax {
    height: 750px;
  }
  #btn-cont {
    width: 200px;
    height: 35px;
    margin-right: 10px;
  }
  .botonera {
    margin-left: 120px;
  }

  #inicio {
    height: 750px;
  }
  #navbar {
    display: block;
  }
  #nav {
    margin-left: 0px;
  }
  #navbar li a {
    padding: 15px;
    font-size: 0.9em;
  }

  #content {
    max-width: 100%;
  }
  #content header {
    width: 100%;
    height: 160px;
  }
  #inicio-1 {
    height: 50px;
  }
  #concept-text {
    width: 100%;
    height: 400px;
  }

  #concepto-2 {
    height: 170px;
  }
  #concepto {
    height: 1200px;
  }

  #con-img {
    width: 100%;
    float: left;
  }

  #con-img2 {
    width: 100%;
  }
  .concpt-img2 {
    margin-top: 15px;
  }
  #unidades-3 {
    height: 170px;
  }
  #unidades {
    height: 800px;
  }
  #uni-img {
    width: 100%;
    float: left;
  }
  .uni-img {
    height: 420px;
    margin-top: 50px;
    margin-left: 0px;
  }
  #uni-text {
    width: 100%;
    text-align: center;
    padding-left: 25px;
    margin-top: 10px;
  }

  #eco-4 {
    height: 200px;
  }
  #eco {
    width: 100%;
    height: 950px;
  }
  .banner {
    background-image: url(./imagenes/Solarium\ zoom2.jpeg);
    height: 200px;
  }

  #eco-fondo {
    width: 100%;
    height: 40px;
  }
  #eco-fondo p {
    color: #fff;
    text-align: left;
    font-size: 25px;

    margin-left: 100px;
  }
  #eco-text {
    margin-top: 80px;
    margin-left: 90px;
    float: left;
  }
  #eco-text p {
    font-size: 22px;
    margin-top: 30px;
  }
  #eco-img2 {
    width: 100%;
  }
  .eco-img2 {
    float: left;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 300px;
    width: 30%;
    height: 30%;
  }

  #planos-5 {
    height: 170px;
  }
  #planos {
    height: 400px;
  }
  #carousel-planos {
    height: 400px;
    width: 100%;
  }
  .carousel-inner {
    padding-left: 10px;
    padding-right: 10px;

    padding-bottom: 10px;
  }
  #ubicacion-6 {
    height: 200px;
  }
  #ubicacion {
    height: 400px;
  }
  #ubicacion iframe {
    width: 100%;
  }

  #nosotros-7 {
    height: 200px;
  }
  /**/
  #nosotros {
    height: 1000px;
    padding-top: 0px;
  }
  #pie {
    margin-left: 200px;
    margin-top: 30px;
  }
  #pie-p {
    padding-left: 100px;
  }
  #nos-fondo {
    width: 100%;
    height: 800px;
    -ms-transform: translateY(10%);
    transform: translateY(10%);
  }
  .parallax2 {
    height: 1000px;
  }
  #consultas {
    float: left;
    text-align: left;
    padding-left: 0px;
    margin-top: 10px;
    margin-left: 200px;
  }
  #contacto {
    height: 0;
  }
  .linea {
    width: 400px;
  }
}
/*********************** hasta aca llega***********************************/

@media all and (max-width: 599px) {
  #in-img {
    width: 100%;
  }
  #in-img h2 {
    font-size: 13vw;
    width: 100%;
    padding: 80px 45px;
  }

  .parallax {
    height: auto;
  }
  #inicio {
    height: auto;
    margin-top: -300px;
    width: 100%;
  }

  #btn-cont {
    width: 270px;
    height: 35px;
    margin-right: 0px;
    opacity: 100%;
    margin-bottom: 5px;
  }
  header {
    height: auto;
  }
  .botonera {
    float: none;
    margin-left: 30px;
  }
  .btn-vermas {
    background-color: #000000;
    text-decoration: none;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 270px;
  }

  #marca {
    width: 100%;
    height: auto;
    float: none;
  }
  #marca h4 {
    font-size: xx-large;
    padding-top: 10px;
    padding-left: 170px;
  }
  #navbar {
    width: 100%;
  }
  #nav {
    float: none;
  }
  #navbar ul li h4 {
    float: none;
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
  }
  #navbar ul li {
    float: none;
  }
  #navbar li a {
    padding: 50px 25px;
    font-size: 25px;
    display: inline-block;
    height: auto;
  }
  #navbar ul li a {
    width: 100%;
    box-sizing: border-box;
    padding: 20px 5px;
    text-align: center;
  }
  #navbar li a:hover {
    background-color: #000;
    color: #ffffff;
    border-radius: 15px;
  }

  .myicono {
    display: block;
    text-align: left;
    font-size: xx-large;
  }
  .lista-sm {
    display: none;
  }

  #content {
    max-width: 100%;
  }
  #content header {
    width: 100%;
    height: auto;
    padding: 0px 10px;
    position: relative;
    display: inline-block;
  }
  #concept-text {
    width: 100%;
    height: auto;
  }
  #concept-text h1 {
    margin-top: 20px;
    margin-right: 95px;
  }
  #concept-text p {
    text-align: left;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-right: 70px;
  }

  #concepto-2 {
    height: auto;
  }
  #concepto {
    height: auto;
  }
  .linea {
    display: none;
  }

  #con-img {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }

  #con-img2 {
    width: 100%;
    float: none;
  }

  #unidades-3 {
    height: auto;
  }
  #unidades {
    height: auto;
  }
  #uni-img {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
  .uni-img {
    width: 100%;
    height: 420px;
    margin-top: 100px;
    margin-left: 0px;
  }

  #uni-text {
    width: 100%;
    float: none;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
    padding-left: 50px;
  }
  #uni-text h4 {
    font-size: 16px;
  }

  #eco-4 {
    height: auto;
  }
  #eco {
    width: 100%;
    height: auto;
  }
  #eco-fondo {
    width: 100%;
    height: auto;
    transform: translateY(377%);
  }
  #eco-fondo p {
    font-size: 14px;
    font-weight: bolder;
  }
  #eco-text {
    margin-top: 20px;
    margin-left: 60px;
    float: none;
  }
  #eco-img2 {
    display: none;
  }
  .eco-img2 {
    float: none;
  }
  #planos-5 {
    height: auto;
  }
  #planos {
    height: auto;
  }
  #carousel-planos {
    height: auto;
    width: 100%;
  }
  .carousel-inner {
    box-sizing: border-box;
    padding-left: 0px;
    padding-right: 0px;

    padding-bottom: 0px;
  }

  #ubicacion-6 {
    height: auto;
  }
  #ubicacion {
    width: 100%;
    height: auto;
  }
  #ubicacion iframe {
    width: 100%;
  }

  #nosotros-7 {
    height: auto;
  }
  #nosotros {
    height: auto;
    width: 100%;
  }
  #pie {
    float: none;
    font-size: small;
    margin-left: 25px;
    margin-top: 40px;
  }
  #pie h3 {
    font-weight: bold;
    padding-bottom: 10px;
  }
  #consultas {
    float: none;
    padding-left: 20px;
    width: 100%;
    margin-left: 0px;
  }
  #consultas h3 {
    font-size: 18px;
  }

  #iconos {
    width: 100%;
    height: auto;
    font-size: x-small;
    margin-top: 0px;
    display: inline-block;
  }

  #nos-fondo {
    width: 100%;
    height: auto;
    -ms-transform: translateY(10%);
    transform: translateY(10%);
  }

  #contacto {
    height: auto;
    width: 100%;
    font-size: small;
  }
  .botonera2 {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    margin-left: -80px;
  }
}
/************************* hasta aca llega***************************/
